@media (max-width: 768px) {
  .custtom-br {
    display: block;
  }
  .custom-mobile-display-style1 {
    font-size: 32px;
  }
  .font-mobile-payment-plan1 {
    font-size: 3rem !important;
  }
  .font-mobile-payment-plan2 {
    font-size: 6rem !important;
  }
  .font-mobile-payment-plan3 {
    font-size: 1.4rem !important;
  }
}
